* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Jost", sans-serif;
}


html {
  font-size: 62.5%;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}


.span {
  background: rgba(7, 98, 238, 1);
  border-radius: 50px;
  color: white;
  letter-spacing: 0.02em;
  font-size: 1.1vmax;
  padding: 0.3vmax 1.2vmax;
  transition: all ease-in 0.5s;
  text-transform: capitalize;
}
.span:hover {
  cursor: pointer;
  width: 100%;
  padding: 0.3vmax 2vmax;
  letter-spacing: 2px;
}
.remaining-span:hover {
  padding-right: 3vmax;
  cursor: pointer;
  letter-spacing: 2px;
}
.remaining-span {
  background: rgba(97, 159, 255, 1);
  color: white;
  border-radius: 50px;
  font-size: 1.1vmax;
  letter-spacing: 0.02em;
  padding: 0.3vmax 1.2vmax;
  padding-left: 0;
  transition: all ease-in 0.3s;
  text-transform: capitalize;
}

.btn-1 {
  border: 0px solid blue;
  padding: 0.5vmax 5vmax;
  border-radius: 5px;
  width: 19vmax;
  background: linear-gradient(100.36deg, #0762ee 5.45%, #4789f0 99.98%);
  text-align: center;
  font-size: 1.3vmax;
  color: white;
  font-weight: 400;
  cursor: pointer;
  box-shadow: 0px 12px 25px -5px rgba(0, 0, 0, 0.505) !important;
  transition: all ease-in-out 0.5s;
}
.btn-1:hover {
  border: 0px ;
  letter-spacing: 2px;
  background: linear-gradient(100.36deg, #0762ee 0.0001%, #79abfc 99.98%);
  box-shadow: 0px 12px 25px -5px rgba(0, 0, 0, 0.75) !important;
}

.btn-2 {
  border: 1px solid #2d2d2d;
  border-radius: 5px;
  width: 20vmax;
  text-align: center;
  font-size: 1.3vmax;
  color: #2d2d2d;
  font-weight: 400;
  transition: all ease-in-out 0.5s;
  cursor: pointer;
  background-color: rgba(127, 255, 212, 0);
}
.btn-2:hover {
  letter-spacing: 2px;
  box-shadow: 0px 12px 25px -5px rgba(0, 0, 0, 0.75) !important;
}
.btn-explore {
  width: 30vmax;
  padding: 1vmax 2vmax;
  margin-top: 2vmax;
}






@media screen and (max-width: 480px) {
  /* .btn-1 {
    font-size: 15px;
    width: 40%;
    height: 10%;
  } */
}

/*  iPads, Tablets */
@media screen and (min-width: 481px) and (max-width: 768px) {
}

/* Small screens, laptops */
@media screen and (min-width: 769px) and (max-width: 1024px) {
}

/* Desktops, large screens */
@media screen and (min-width: 1025px) and (max-width: 1200px) {
}

/* Extra large screens, TV */
@media screen and (min-width: 1201px) {
}
