.blog-image{
    width: 100%;
    height: 37vmax;
}
@media screen and (max-width: 480px) {
    .blog-image{
        height: 25vmax;
    }
  }
  
  /*  iPads, Tablets */
  @media screen and (min-width: 481px) and (max-width: 768px) {
  }
  
  /* Small screens, laptops */
  @media screen and (min-width: 769px) and (max-width: 1024px) {
  }
  
  /* Desktops, large screens */
  @media screen and (min-width: 1025px) and (max-width: 1200px) {
  }
  
  /* Extra large screens, TV */
  @media screen and (min-width: 1201px) {
  }