
/* Footer */

/* .footer{
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    position: absolute;
    width: 100%;
    padding:4rem 0 4rem 0;
    font-size: 16px;
    color:white;
    background: #2D2D2D;
    }
    .footer a{
      text-decoration: none;
      color:white;
      cursor:pointer;
    }
 */

    .footer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      padding: 4rem 0 4rem 0;
      font-size: 1vmax;
      color: white;
      background: #2D2D2D;
      font-weight: 500;
      bottom: 0px;
    }
    
    a {
      text-decoration: none;
      color: white;
      cursor: pointer;
    }
    
    .social-footer-icon {
      transition: all ease 1s;
    }
    
    .social-media-footer {
      margin-top: 1vmax;
      letter-spacing: 1px;
    }
    
    .social-footer-icon:hover {
      text-decoration: underline;
      font-weight: bold;
      font-size: larger;
    }
    