.main-box {
  margin: 1vmax 5vmax;
}

.heading-img img {
  z-index: -1;
  width: 35vmax;
  align-items: center;
  justify-content: center;
  display: block;
  overflow: hidden;
}
.heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  font-family: "Jost", sans-serif;
  --var-x: 100px;
  padding-left: calc(var(--var-x) / 2);
  padding-right: calc(var(--var-x) / 2);
}

.content-head-text {
  font-weight: 900;
  font-size: 4.7vmax;
  line-height: 6vmax;
  margin-bottom: 0px;
}

.content-sub-head-text {
  font-weight: 400;
  font-size: 1.5vmax;
  margin: 1.5vmax 0vmax;
  color: #2d2d2d;
}
.btn-container {
  display: flex;
  align-content: center;
  justify-content: flex-start;
  margin-top: 0px;
}

#btn-knowMore {
  margin-left: 1vmax;
}

@media screen and (max-width: 480px) {
  .heading-img {
    display: none;
  }
  .main-box {
    margin-top: 10vmax;
    margin-left: 0px;
    margin-right: 0px;
  }
  .content-text {
    text-align: center;
  }
  .content-head-text {
    margin-top: 1vmax;
  }
  .content-sub-head-text {
    text-align: justify;
  }
  .btn-container {
    justify-content: center;
  }
  .heading {
    justify-content: center;
  }
}

/*  iPads, Tablets */
@media screen and (min-width: 481px) and (max-width: 768px) {
  .heading-img {
    display: none;
  }
  .main-box {
    margin-top: 10vmax;
  }
}

/* Small screens, laptops */
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .heading-img {
    display: none;
  }
  .main-box {
    margin-top: 7vmax;
  }
}

/* Desktops, large screens */
@media screen and (min-width: 1025px) and (max-width: 1200px) {
  .heading-img {
    display: none;
  }
  .main-box {
    margin-top: 7vmax;
  }
}

/* Extra large screens, TV */
@media screen and (min-width: 1201px) {
}

/* Support */
.support {
  --var-x: 100px;
  padding-left: calc(var(--var-x) / 2);
  padding-right: calc(var(--var-x) / 2);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  margin: 5vmax 0px;
  font-family: "Poppins", sans-serif;
  background-color: #fbfbfb;
  /* --var-x: 100px;
  padding-left: calc(var(--var-x) / 2);
  padding-right: calc(var(--var-x) / 2); */
}
.support-heading ,.support-heading  span {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 1.7vmax;
  margin: 4rem 0 2rem 0;
  text-align: center;
}
.img-container-company{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100vmax;
  height: 10vmax;
}
.img-container-company img{
  width: 15vmax;
  margin: 1vmax;
}

@media screen and (max-width: 480px) {
  .img-container-company{
    flex-direction: column;
    margin: 0px;
    margin-top: 15vmax;
    margin-bottom: 20vmax;
    align-items: center;
    width: 20vmax;
  }
  .img-container-company img{
    margin-top: 5vmax;
    width: 25vmax;
  }
}

/*  iPads, Tablets */
@media screen and (min-width: 481px) and (max-width: 768px) {
  .img-container-company{
    width: 60vmax;
  }
}

/* Small screens, laptops */
@media screen and (min-width: 769px) and (max-width: 1024px) {
}

/* Desktops, large screens */
@media screen and (min-width: 1025px) and (max-width: 1200px) {
}

/* Extra large screens, TV */
@media screen and (min-width: 1201px) {
}


/*
.img {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.img img {
  padding: 4rem 0 3rem 0;
}
@media (max-width: 1080px) {
  .img {
    flex-direction: column;
  }
} */

/* .support { */

/* .support-content {
  flex: 1;
  width: 50%;
}
.support-content h6 {
  color: white;
  border-radius: 15px;
  font-size: 16px;
  padding: 3px 0 3px 0;
}

.support-content h1 {
  font-size: 48px;
  width: 80%;
} */
/* .support-content p {
  font-size: 20px;
  color: #2d2d2d;
  padding: 2rem 0 2rem 0;
}
.support-content ul li {
  font-size: 20px;
  color: #232222;
  font-weight: bolder;
  text-decoration: none;
  padding: 1rem 0;
}
.icon {
  background-color: #0762ee;
  color: white;
  border-radius: 50%;
  border: 1px solid grey;
  display: inline-flex;
  vertical-align: middle;
  padding: 3px;
} */
/* .noDisplay {
  display: none;
}
.support-img {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-bottom: 4rem;
}
.support-img_first-div {
  padding-bottom: 1rem;
  width: 100%;
  flex: 1;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}
.support-img_first-1_div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
} */
/* .supportImg4 {
  width: 98%;
}
.supportImg1 {
  width: 50%;
}
.supportImg2 {
  width: 90%;
}
.supportImg3 {
  width: 90%;
} */

/* Media Querry */

/* @media (max-width: 1080px) {
  .supportImg4 {
    display: none;
  }
  .supportImg1 {
    display: none;
  }
  .supportImg2 {
    margin-bottom: 2rem;
    width: 75%;
  }
  .supportImg3 {
    margin-bottom: 2rem;
    width: 75%;
  }
  .support-content h1 {
    width: 100%;
  }
}

@media (max-width: 800px) {
  .support-img {
    display: none;
  }
  .support-content {
    text-align: center;
  }
  .support-content ul {
    text-align: left;
    padding-left: 6rem;
  }
}

@media (max-width: 480px) {
  .support-content h6 {
    font-size: 12px;
  }
  .support-content h1 {
    font-size: 20px;
    margin-top: 2rem;
  }
  .support-content p {
    font-size: 14px;
  }
  .support-content ul li {
    font-size: 12px;
  }
  .btn-support {
    font-size: 15px;
  }
} */
/*
progress

.progress {
  display: flex;
  flex-direction: column;
  --var-x: 100px;
  padding-left: calc(var(--var-x) / 2);
  padding-right: calc(var(--var-x) / 2);
  justify-content: center;
  align-items: center;
  margin-bottom: 30rem;
}
.progress-img {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  position: relative;
  width: 95%;
  border-radius: 13px;
  align-items: center;
  overflow: hidden;
}
.progress-content {
  display: flex;
  border: solid;
  justify-content: space-around;
  align-items: center;
  width: 70%;
  padding: 7rem 0rem;
  color: white;
  background-color: #3481f5;
  border-color: #3481f5;
  border-radius: 13px;
  position: absolute;
  margin-top: 60rem;
}
.progress-content h1 {
  font-size: 36px;
}
.progress-content p {
  font-size: 20px;
  padding: 0 2rem;
  text-align: center;
}
.first,
.second,
.third {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (max-width: 800px) {
  .progress {
    margin-bottom: 10rem;
  }
  .progress-img {
    display: none;
  }
  .progress-content {
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
    position: inherit;
  }
  .first,
  .second,
  .third {
    padding-bottom: 4rem;
  }
}

contact

.contact {
  display: flex;
  --var-x: 100px;
  padding-left: calc(var(--var-x) / 2);
  padding-right: calc(var(--var-x) / 2);
  justify-content: center;
  align-items: center;
  margin: 5rem 0;
}

.contact-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
}
.dots {
  width: 100%;
  z-index: -1;
  padding-left: 5rem;
}
.officeImg {
  position: absolute;
  border-radius: 10px;
  padding-top: 5px;
  overflow: hidden;
  z-index: 1;
  width: 70%;
}
.rectangle {
  z-index: -1;
  padding-right: 5rem;
  width: 100%;
  display: flex;
  justify-content: end;
}

.contact-content h1 {
  font-size: 48px;
  line-height: 60px;
  display: flex;
  align-items: center;
  letter-spacing: 0.02em;
}
.contact-content p {
  padding-top: 20px;
  font-size: 24px;
  line-height: 36px;
  display: flex;
  align-items: center;
  letter-spacing: 0.02em;
}
.contact-btn {
  border: 1px solid #2d2d2d;
  border-radius: 5px;
  width: 40%;
  text-align: center;
  font-size: 20px;
  color: #2d2d2d;
  line-height: 40px;
  transition: ease-in-out 0.5s;
  cursor: pointer;
  margin-top: 15px;
}
.contact-btn:hover {
  color: white;
  background-color: blue;
  border: 1px solid blue;
  transition: ease-in-out 0.5s;
  box-shadow: 0px 12px 25px -5px rgba(0, 0, 0, 0.75) !important;
}

@media (max-width: 1080px) {
  .contact {
    flex-direction: column;
  }
  .officeImg {
    position: relative;
  }
  .rectangle {
    display: none;
  }
  .dots {
    display: none;
  }

  .contact-content p {
    font-size: 20px;
  }
  .contact-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
@media (max-width: 480px) {
  .officeImg {
    display: none;
  }
  .contact-content h1 {
    font-size: 24px;
    line-height: 30px;
  }
  .contact-content p {
    font-size: 16px;
    line-height: 30px;
  }
  .contact-btn {
    font-size: 15px;
  }
}

Services
.services {
  --var-x: 100px;
  padding-left: calc(var(--var-x) / 2);
  padding-right: calc(var(--var-x) / 2);
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 5rem 0;
  font-family: "Poppins", sans-serif;
}
.services-content {
  width: 90%;
}
.services-content h6,
.services-img-text h6 {
  font-size: 16px;
  padding: 2rem 0;
}
.services-content h1,
.services-img-text h1 {
  font-size: 48px;
}
.services-content ul li {
  font-size: 20px;
  color: #232222;
  font-weight: bolder;
  text-decoration: none;
  padding: 1rem 0;
}
.services-img-content {
  width: 100%;
}
.services-img {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.services-img img {
  width: 49%;
}
.services-img-text p {
  font-size: 20px;
  color: #2d2d2d;
  padding: 2rem 0 2rem 0;
}
@media (max-width: 720px) {
  .services {
    display: flex;
    flex-direction: column;
  }
  .services-content h1,
  .services-img-text h1 {
    text-align: center;
  }
  @media (max-width: 480px) {
    .services-content h6,
    .services-img-text h6 {
      font-size: 12px;
    }
    .services-content h1,
    .services-img-text h1 {
      font-size: 20px;
    }
    .services-content ul li {
      font-size: 12px;
    }
    .services-img-text p {
      font-size: 14px;
    }
  }
} */
