
/* @import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100&display=swap"); */


 
/* navbar style start  */




.menu {
  /* grid-column: 3/4; */
  /* height: 10rem; */
  display: flex;
  width:70%;
  justify-content: space-between;
  align-items: center;
  cursor:pointer;
  font-size: 1.8rem;
  color: rgba(0, 0, 3, 0.8);
  transition: 0.5s;
}
li:hover > a {
  transform-origin: left;
  color: rgba(0, 0, 3, 1);
  text-decoration: underline;
  transition: 0.5s; 
}

/*  ul {
  height: 10rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.menu ul Link{
  cursor:pointer;
}

.contact-menu {
  grid-column: 4/5;
}

.contact-menu ul {
  height: 10rem;
  display: grid;
  grid-template-columns: 3fr repeat(3, 1fr);
  align-items: center;
  justify-content: flex-end;
  
}

.contact-menu ul li {
  text-align: right;
  cursor:pointer;
}

.contact-menu ul li:first-child {
  grid-column: 2/3;
}

----------- Grid part ends -----------------


.menu ul li {
  font-size: 1.8rem;
}

.menu ul li a {
  text-transform: capitalize;
  color: rgba(0, 0, 3, 0.8);
  transition: 0.5s;
}
.menu ul li:hover > a {
  transform-origin: left;
  color: rgba(0, 0, 3, 1);
  text-decoration: underline;
  transition: 0.5s;
}

.contact-menu ul li {
  font-size: 1.8rem;
}

.contact-menu .hamburger-menu {
  display: none;
}


responsive css style 
@media (max-width: 1080px) {

  
  .menu ul,
  .contact-menu ul {
    height: 8rem;
  }
}

responsive css style 
@media (max-width: 998px) {
 

  .menu{
    display: none;
  }


  .contact-menu ul {
    height: 7rem;
  }


  .contact-menu {
    grid-row: 1/2;
    grid-column: 3/5;
    justify-items: end;
    align-items: center;
    transition: all 2s linear;
  }

  .contact-menu ul{
    height: 0;
    display: none;
  }

  .contact-menu {
    height: 7rem;
    display: flex;
    justify-self: end;
    align-items: center;
  }

  .contact-menu .hamburger-menu {
    display: block;
    font-size: 2.5rem;
    justify-content: center;
  }
}

@media (max-width: 798px) {


  .contact-menu ul {
    height: 6rem;
  }

  .contact-menu {
    height: 6rem;
    display: flex;
    justify-self: end;
    align-items: center;
  }

  .contact-menu .hamburger-menu {
    display: block;
    font-size: 2.5rem;
  }
}

@media (max-width: 520px) {

  
  .contact-menu ul {
    height: 6rem;
  }


  .contact-menu {
    height: 6rem;
    display: flex;
    justify-self: end;
    align-items: center;
  }

  .contact-menu .hamburger-menu {
    display: flex;
    justify-self:center;
    font-size: 2.5rem;
  }

  
} */